<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%=post.title%></title>
</head>
<body>
    <h1 class="title"><%=post.title%></h1>
    <%-include('../partials/nav.ejs')%>
    <p style="font-size:20"><b>User:</b> <%=user.username%></p>
    <p><%=post.body%></p>
    <h1>Are you sure you want to DELETE this post?</h1>
    <form action="/posts/<%=post.id%>/delete" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit" name="confirm" value="yes">Delete Post</button>
    <button type="submit" name="confirm" value="no">Cancel</button>
    </form>
</body>
</html>